@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}
.nav-bar {
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid rgb(0 0 0 / 12%);
    .nav-list {
        display: flex;
        list-style-type: none;
        align-items: center;
        gap: 2rem;
        padding-left: 4rem;
        li.active > a{
            color: #4096ff;
        }
        a {
            text-decoration: none;
            color: black;
            &:hover {
                color: #4096ff;
            }
        }
    }
}
.home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    h1 {
        text-transform: uppercase;
    }
    a {
        width: 500px;
        text-align: center;
        text-decoration: none;
        color: black;
        padding: 0.25rem 2rem;
        border: 1px solid black;
        border-radius: 0.25rem;
        transition: 0.1s all ease-in-out;
        &:hover {
            color: #4096ff;
            border-color: #4096ff;
        }
    }
}

.header,
.main,
.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header,
.btn-group {
    flex-direction: column;
}

.header {
    h1 {
        margin-bottom: 0;
        text-transform: uppercase;
    }
    h4 {
        margin: 0;
    }
}

.main {
    gap: 0.5rem;
}

.wrapper {
    text-align: center;
    padding-top: 4rem;
}

.btn-group {
    gap: 0.5rem;
    button {
        width: 100%;
        padding: 0.5rem 1.5rem;
        border: 0;
    }
    .btn {
        width: 100px;
        height: 40px;
        padding: 10px 25px;
        border: 2px solid #000;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
    }
    .btn-add,
    .btn-convert,
    .btn-copy {
        background: #000;
        color: #fff;
        z-index: 1;
        &:after {
            position: absolute;
            content: '';
            width: 0;
            height: 100%;
            top: 0;
            right: 0;
            z-index: -1;
            background: #fff;
            transition: all 0.3s ease;
        }
        &:hover {
            color: #000;
        }
        &:hover:after {
            left: 0;
            width: 100%;
        }
        &:active {
            top: 2px;
        }
    }
}

textarea {
    padding: 0.5rem 0.25rem;
}

.footer-bar {
    .copyright {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        margin: 0;
        padding: 1rem 0;
        width: 100%;
        border-top: 1px solid rgb(0 0 0 / 12%);
        position: absolute;
        bottom: 0;
        text-align: center;
        z-index: 2;
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding-top: 8rem;
    }
    .main {
        flex-direction: column;
    }
    .nav-bar .nav-list {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
}
